div#coffee{
	background: url('../Images/BlackCoffee.jpg');
	height: 350px;
	color: #FFF;
	background-size: cover;
}

div#latte{
	background: url('../Images/Latte.jpg');
	height: 350px;
	color: #FFF;
	background-size: cover;
}

div#espresso{
	background: url('../Images/Espresso.jpg');
	height: 350px;
	color: #FFF;
	background-size: cover;
}
div#cappucino{
	background: url('../Images/Cappucino.jpg');
	height: 350px;
	color: #FFF;
	background-size: cover;
}