body {
    margin:auto;
    text-align:center;
}

table {
    
}

#homecoffee {
    background-image: url('../images.jpeg');
}

#homebagels {
    background-image: url();
}

#homedrinks {
    background-image:url();
}