body {
    margin:auto;
    text-align:center;
}

#homecoffee {
    background: url(../Images/BlackCoffee.jpg);
    height:350px;
    color:white;
    background-size:cover;
    margin-bottom: 10px;
    padding-top:200px;
    outline: 2px solid #ccc;
}

#homebagels {
    background-image: url(../Images/Snacks.jpg);
    height: 350px;
    color: white;
    background-size: cover;
    margin-bottom: 10px;
    padding-top: 200px;
}

#homedrinks {
    background-image: url(../Images/SoftDrink.jpg);
    height: 350px;
    color: white;
    background-size: cover;
    margin-bottom: 10px;
    padding-top: 200px;
}

#homemusic {
    background-image: url(../Images/LightMusic.jpg);
    height: 350px;
    color: white;
    background-size: cover;
    padding-top: 200px;
}

#homeentertainment {
    background-image: url(../Images/Entertainment.jpg);
    height: 350px;
    color: white;
    background-size: cover;
    padding-top: 200px;
}

#freewifi {
    background-color: #D5AC8D;
}

#jtgray {
    height: 350px;
    background-size: cover;
    margin-bottom:-50px;
   

}

#bryanarrowwood {
    height: 350px;
    background-size: cover;
    margin-bottom: -50px;
}

#karaokenight {
    height: 350px;
    background-size: cover;

}

#performer1 img{
    max-height: 280px;
    max-width: 350px;
   
}

#performer2 img {
    
    max-height: 280px;
    max-width: 350px;
}

#karaokeimg {
    max-height: 300px;
    max-width: 280px;
    padding-top:10px;
}

#coffee{
    background: url('../Images/BlackCoffee.jpg');
    height: 350px;
    color: #FFF;
    background-size: cover;
    text-align: left;
}

#latte{
    background: url('../Images/Latte.jpg');
    height: 350px;
    color: #FFF;
    background-size: cover;
    text-align: left;
}

#espresso{
    background: url('../Images/Espresso.jpg');
    height: 350px;
    color: #FFF;
    background-size: cover;
    text-align: left;
}
#cappucino{
    background: url('../Images/Cappucino.jpg');
    height: 350px;
    color: #FFF;
    background-size: cover;
    text-align: left;
}

#performancecontainer {
    background: url('../Images/BackgroundPerformers.jpg');

}

#performancetable {
    background-color:rgba(255,255,255,0.75);
  
}