body {
    margin:auto;
    text-align:center;
    font-family: Arial;
    background-color: #170c08;
}

header {
    height: 200px;
    background-color: #170c08;
   

}

nav a {
    color: #E4D1AF;
    text-decoration: none;
    padding: 10px
}

.currentlink {
    color: #CCA471;
}

nav a:hover {
    color: #6b532e;
    text-decoration: none;
    padding: 10px
}

nav {
    padding-bottom: 10px;

    font-size: 1.2em;
}

#header {
    font-family: 'Alegreya', Garamond, serif;
    font-size: 10em;
    color: #E4D1AF;
    text-decoration: none;
}

@media screen and (max-width:992px) {
    .mobile-only {
        display:none;
    }
}

.home {
    height:350px;  
    color:white;
    margin-bottom: 10px;
    padding-top:200px;
}
#homecoffee {
    background: url(../Images/BlackCoffee.jpg); 
    background-size: cover;
}

#homebagels {
    background-image: url(../Images/Snacks.jpg);
    background-size: cover;
}

#homedrinks {
    background-image: url(../Images/SoftDrink.jpg);
    background-size: cover;
}

#homemusic {
    background-image: url(../Images/LightMusic.jpg);
    background-size: cover;
}

#homeentertainment {
    background-image: url(../Images/Entertainment.jpg);
    background-size: cover;
}

#freewifi {
    background-color: #D5AC8D;
}

#jtgray {
    height: 350px;
    background-size: cover;
    margin-bottom:-50px;
}

#bryanarrowwood {
    height: 350px;
    background-size: cover;
    margin-bottom: -50px;
}

#karaokenight {
    height: 350px;
    background-size: cover;
}

.menu {
    height: 350px;
    color: #FFF; 
    text-align: left;
    text-indent: 10px
}

#coffee{
    background: url('../Images/BlackCoffee.jpg');
    background-size: cover;
}

#latte{
    background: url('../Images/Latte.jpg');
    background-size: cover;
}

#espresso{
    background: url('../Images/Espresso.jpg');
    background-size: cover;
}
#cappucino{
    background: url('../Images/Cappucino.jpg');
    background-size: cover;
}

.performancecontainer {
    background: url('../Images/BackgroundPerformers.jpg');
    
}

#performancetable {
    background-color:rgba(255,255,255,0.75);
  
}

.jobscontainer {
    background: url('../Images/BackgroundHome.jpg');
}
#mainjobs {
    margin-top: 40px;
    padding-top: 10px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    background-color:rgba(255,255,255,0.75);
}

form{
    font-weight: bold;
}

label {
    font-weight: normal;
}

textarea {
    width: 300px;
    height: 75px;
}

#footer {
    font-family: 'Alegreya', Garamond, serif;
    color: #E4D1AF;
}